.App {
  display: flex;
  min-height: 100vh;
}

.Logo-section {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.Logo-container {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 500px;
  width: 500px;
  pointer-events: none;
}

.Form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
